= form_with(model: company, class: "contents") do |form|
  - if company.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(company.errors.count, "error")
        prohibited this company from being saved:
      %ul
        - company.errors.each do |error|
          %li= error.full_message
  .my-5
    = form.label :name
    = form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :url
    = form.text_field :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    %select.select.select-bordered.w-full.max-w-xs
      %option{:disabled => "disabled", :selected => "selected"} Location
      - @provinces.each do |province|
        %option
          = province
    = #form.label :location
    = #form.text_field :location, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
