.mx-auto.flex.flex-row{:class => "md:w-2/3"}
  .mx-auto
    - if notice.present?
      %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
    = render @company
    - if current_user&.admin?
      = render(ButtonComponent.new(type: :accent, url: edit_company_path(@company))) do
        = 'Edit this company'
      .inline-block.ml-2
        = render(ButtonComponent.new(type: :error, url: company_path(@company), method: :delete)) do
          = 'Destroy this company'
    = render(ButtonComponent.new(type: :ghost, url: companies_path)) do
      = 'Back to companies'
    - if @company.has_comments?
      %h3.mt-8.text-2xl
        #{@company.comments_count} Comments
      = render(CommentComponent.with_collection(@comments, current_user: current_user))
    - else
      %h3
        Comments
      %h4="No comments yet :( Be the first one!"
    = render partial: "comments/form", locals: { comment: @comment, company: @company }
